<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Bank')}">
</head>
<body>
<div th:if="${!accounts.isEmpty()}" class="flex flex-wrap">
    <div class="border-e border-gray-200 dark:border-gray-700">
        <nav class="flex flex-col space-y-2" aria-label="Tabs" role="tablist" data-hs-tabs-vertical="true">
            <button th:each="bankAcc,iterStat: ${accounts}" type="button"
                    class="hs-tab-active:border-blue-500 hs-tab-active:text-blue-600 dark:hs-tab-active:text-blue-600 py-1 pe-4 inline-flex items-center gap-x-2 border-e-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-blue-500 active"
                    th:id="${#strings.concat('vtab-ba-',bankAcc.id.toString())}"
                    th:data-hs-tab="${#strings.concat('#vtab-ba-trans-',bankAcc.id.toString())}"
                    th:aria-controls="${#strings.concat('vtab-ba-trans-',bankAcc.id.toString())}" role="tab"
                    th:text="${#strings.concat(bankAcc.nickname,': ',bankAcc.balance,'BGN // ',bankAcc.iban)}">
                NICK: BALANCE // IBAN
            </button>
        </nav>
    </div>

    <div class="ms-3">
        <div th:each="trans,iterStat: ${transactions}" th:id="${#strings.concat('vtab-ba-trans-',trans.key)}"
             role="tabpanel"
             th:aria-labelledby="${#strings.concat('vtab-ba-',trans.key)}">
            <!-- Timeline -->
            <div>
                <!-- Item -->
                <div th:each="t,iterStat: ${trans.value}" class="flex gap-x-3">
                    <!-- Left Content -->
                    <div class="w-16 text-end">
                        <span class="text-xs text-gray-500 dark:text-gray-400"
                              th:text="${t.transactionDate}">dd-mm-yyyy</span>
                    </div>
                    <!-- End Left Content -->

                    <!-- Icon -->
                    <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-gray-700">
                        <div class="relative z-10 w-7 h-7 flex justify-center items-center">
                            <div class="w-2 h-2 rounded-full bg-gray-400 dark:bg-gray-600"></div>
                        </div>
                    </div>
                    <!-- End Icon -->

                    <!-- Right Content -->
                    <div class="grow pt-0.5 pb-8">
                        <h3 class="flex gap-x-1.5 font-semibold text-gray-800 dark:text-white"
                            th:text="${t.type.name()}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-4 h-4 mt-1"
                                 width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                 fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"/>
                                <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"/>
                                <path d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5"/>
                                <path d="M12 17v1m0 -8v1"/>
                            </svg>
                            Created "Preline in React" task
                        </h3>
                        <p class="mt-1 text-sm text-gray-600 dark:text-gray-400" th:text="${t.amount}">
                        </p>
                    </div>
                    <!-- End Right Content -->
                </div>
                <!-- End Item -->
            </div>
        </div>
    </div>
</div>
<h2 th:if="${accounts.isEmpty()}" class="text-3xl dark:text-white">No bank accounts found</h2>
</body>
</html>